<html>
	<head>
		<link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css' />
	</head>

	<body>
		<div role = 'navigation' class='container fluid'>
			<ul class='nav nav-tabs'>
				<li  {%if !category %} class='active' {% endif %} role='presentation'> <a href='/'> Home </a> </li>
				{% for _category in categories %}
        <li {%if _category === category %} class='active' {% endif %} role='presentation'>
            <a href='/categories/{{_category}}'> {{ _category }}
            </a></li>
				{% endfor %}
			</ul>
		</div>

		<div>
			{% block content %} 
			{% endblock %}
		</div>

	</body>
</html>
